.heroImg {
  padding-left: 20px;
  padding-bottom: 20px;
}
.heroCoverImg {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
@media (max-width: 600px) {
  .heroImg {
    padding-left: 0px;
    padding-bottom: 0px;
  }
}
